.disabledBtn {
    font-size: 0 !important;
   
}
.disabledBtn::before {
  content: "Next";
  font-size: 32px!important;
  
 
}

[value="Default"][type="radio"] {
    display: none;
}

[value="Default"][type="radio"]+* {
    display: none;
}

.questions {
    text-decoration: underline;
    font-weight: 900;
}
.view-pdf{
  display: flex;
  justify-content: center;
 
}
.view-pdf svg{
  height: 80vh;
}
.view-pdf h1 {
    font-weight: 700;
    justify-content: center;
    margin-left: 20px;
    font-size: 30px;
    font-family: "sofia-pro", Sans-serif;
    margin-top: 0px;
  }
  .view-pdf p {
    padding: 0 20px;
    font-Family: "sofia-pro", Sans-serif;
    color: black;
  }
  .view-pdf body {
    color: black;
  }
  .view-pdf h3 {
    font-Family: "sofia-pro", Sans-serif;
    color: black;
    font-size: 20px;
    padding-left: 20px;
  }
  .view-pdf input {
    font-Family: "sofia-pro", Sans-serif;
    color: black;
    font-size: 18px;
    margin: 10px;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #707070 !important;
  }
  .view-pdf textarea {
    font-Family: "sofia-pro", Sans-serif;
    color: black;
    font-size: 18px;
    
    margin-top: 20px;
    outline: none;
    padding: 10px;
    border-radius: 10px;
  }
  .view-pdf textarea {
    resize: none;
    outline: none;
    box-shadow: none;
  }
  .view-pdf p {
    text-align: left;
  }
 
  .view-pdf ul {
    text-align: justify;
    font-family: "sofia-pro";
  }
  .printPdf *{
      display: none !important;
  }
  .printPdf .view-pdfPrint{
    display: inline-block !important;
    width: 100%;
    height: auto;
    min-height: 100%;
    background: white;
    padding: 45px;
    z-index: 9999999999;
  }
  .printPdf .view-pdfPrint *{
    display: inline-block !important;
}


.printPdf > textarea{
  border: 0;
  font-family: "Poppins",sans-serif !important;
  color: #707070 !important;
  padding: 0;
}

.printPdf .view-pdfPrint .noPrintCheck:not(:checked),
  .printPdf .view-pdfPrint .noPrintCheck:not(:checked) + *{
  display: none !important;
}

.printPdf .view-pdfPrint .notBorder,
  .printPdf .view-pdfPrint .notBorder + *{
  border: 0 !important;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  margin: 0;
}
.printPdf .view-pdfPrint .notBorderTextarea,
  .printPdf .view-pdfPrint .notBorderTextarea + *{
  border: 0 !important;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  
  margin: 0;
}
.generatePdfBtn{
  background:#FEBD69;
  color: #000000;

}
.generatePdfBtn.disabledNext.disabledNext.disabledNext.disabledNext.disabledNext.disabledNext{
  background:#c9c9c9 ;
  color: #707070 ;

}




.requireForPrintPdf.error{
  border-color: red !important;
}

.requireForPrintPdf.error::placeholder{
  color: red !important;
}

.yourName{
  border-radius: 10px;
  width: 400px;
  padding: 10px 20px;
  font-family: "sofia-pro" ;
}

.emailClient{
  border-radius: 10px;
  width: 400px;
  padding: 10px 20px;
  font-family: "sofia-pro" ;
}

.yourContact{
  border-radius: 10px;
  width: 400px;
  padding: 10px 20px;
  font-family: "sofia-pro" ;
  
}
body[style*="barProgess"] div.barProgess{
  position: fixed;
  top: 0;
  left: 0;
  height: 20px;
  background: #eee;
  overflow: hidden;
  width: calc(var(--barProgess,0) * 1%);

}
body[style*="barProgess"] div.barProgess .gradient{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(90deg , transparent 0%  , #bbb 50% ,transparent 100% );
  transform: translateX( -100% );
  animation: movePositionLinerGradient 1s infinite;
  transition: 1s;
}
@keyframes movePositionLinerGradient {
  to{
    transform: translateX( 100% );
  }
}


.forman {
   margin-right: 10px;
}